.insta {
    display: flex;
    width: 375px;
    height: 55px;
    &__french {
        margin-right: 76px;
        margin-left: 16px;
        width: 26px;
    }
h1 {
    font-size: 15px;
    text-align: center;
    margin-right: 76px;
    }
    &__interface {
        margin-right: 16px;
        width: 26px;
    }
}
