*{box-sizing: border-box;}
body {

    
    //-----header home-----//
.insta {
    display: flex;
    justify-content: space-between;
    background-color: white;
    width: 100%;
    height: 55px;
    margin-top: -67px;
    margin-bottom: 0px;
    &__french {
        margin-left: 16px;
        width: 26px;
    }
    &__text1 {
        font-size: 24px;
        font-family: "Beyond";
        color: black;
        text-decoration-line: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__text2 {
        font-size: 24px;
        font-family: "Beyond";
        color: black;
        text-decoration-line: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__interface {
        margin-right: 16px;
        width: 26px;
    }
   
}

    //-----profil collaboration-----//

.collaboration {
    display: flex;
    align-items: center;
    overflow-x: auto;
    margin-top: 67px;
    margin-bottom: 23px;

    &__photo {
        margin-left: 10px;
        display: flex;
        justify-content: space-between;
    }

    img{
        width: 70px;
        margin-right: 12px;

    }
}

.bloc2 {
    border: 1px solid #C8DDE8;
}
//-----post------//
.post {
    margin: 15px;
}

//-----post 1-----//

.post1 {

    border-radius: 30px;
    box-shadow:0px -10px 20px rgba(208, 238, 255, 0.44),
    (0px 10px 20px rgba(208, 238, 255, 0.44)) ;

    &__info {
        display: flex;
        align-items: center;
        margin-top: 10px;
        margin-bottom: 8px;

    }
    &__photoprofil {
        width: 30px;
        margin-left: 15px;
        margin-top: 10px;
    }
    &__name {
        margin-left: 15px;
        font-family: "Roboto-Regular";
        font-size: 14px;
        margin-top: 10px;

    }
    &__alternance {
        width: 100%;
        border-radius: 30px;
    }
    &__heart {
        margin-left: 15px;
        margin-top: 5px;
        background-image: red;
    }
    .text1 {
        font-size: 14px;
        display: flex;
        flex-direction: column;
        padding: 1rem;
        .text1 {
            &__info {
                font-family: "Roboto-Regular";
                width: 100%;


            }
            &__time {
                font-family: "Roboto-Medium";
                font-size: 11px;

                margin-top: 5px;
                color: #939292;
            }
        }
    }
}

//-----Post3-----//

.post3 {

    border-radius: 30px;
    box-shadow:0px -10px 20px rgba(208, 238, 255, 0.44),
    (0px 10px 20px rgba(208, 238, 255, 0.44)) ;

    &__info {
        display: flex;
        align-items: center;
        margin-top: 10px;
        margin-bottom: 8px;

    }
    &__photoprofil {
        width: 30px;
        margin-left: 15px;
        margin-top: 10px;
    }
    &__name {
        margin-left: 15px;
        font-family: "Roboto-Regular";
        font-size: 14px;
        margin-top: 10px;

    }
    &__presentation {
        width: 100%;
        border-radius: 30px;
    }
    &__heart {
        margin-left: 15px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .text3 {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        font-size: 14px;
        
        .text3 {
            &__info {
                font-family: "Roboto-Regular";
                width: 100%;
            }
            &__time {
                font-family: "Roboto-Medium";
                font-size: 11px;

                margin-top: 5px;
                color: #939292;
                margin-bottom: 30px;
            }
        }
    }
}
}