body {

    //-----header home-----//
.insta {
    display: flex;
    justify-content: space-between;
    background-color: white;
    width: 100%;
    height: 55px;
    margin-top: -67px;
    margin-bottom: 0px;
    &__french {
        margin-left: 16px;
        width: 26px;
    }
    &__text {
        font-size: 24px;
        font-family: "Beyond";
        color: black;
        text-decoration-line: none;
        display: flex;
        align-items: center;
    }
    &__interface {
        margin-right: 16px;
        width: 26px;
    }
   
}

    //-----profil collaboration-----//

.collaboration {
    display: flex;
    align-items: center;
    overflow-x: auto;
    margin-top: 67px;
    margin-bottom: 23px;

    &__photo {
        margin-left: 10px;
        display: flex;
        justify-content: space-between;
    }

    img{
        width: 70px;
        margin-right: 12px;

    }
}

.bloc2 {
    border: 0.3px solid #C6C6C6;
}

//-----post 1-----//

.post1 {
    
    &__info {
        display: flex;
        align-items: center;
        margin-top: 10px;
        margin-bottom: 8px;
    }
    &__photoprofil {
        width: 30px;
        margin-left: 15px;
    }
    &__name {
        margin-left: 15px;
        font-family: "Roboto-Regular";
        font-size: 14px;

    }
    &__stage {
        width: 100%;
    }
    &__heart {
        margin-left: 15px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    &__text {
        font-size: 14px;
        display: flex;
        flex-direction: column;
        .text {
            &__name {
                font-family: "Roboto-Medium";
                display: flex;
                justify-content: flex-start;
                margin-left: 12px;
            }
            &__info {
                font-family: "Roboto-Regular";
                width: 300px;
                margin-left: 12px;
                margin-right: 12px;
            }
            &__time {
                font-family: "Roboto-Medium";
                font-size: 11px;
                margin-left: 12px;
                margin-top: 5px;
                color: #939292;
            }
        }
    }
}

//-----post 2-----//

.post2 {
    &__info {
        display: flex;
        align-items: center;
        margin-top: 10px;
        margin-bottom: 8px;

    }
    &__photoprofil {
        width: 30px;
        margin-left: 15px;
    }
    &__name {
        margin-left: 15px;
        font-family: "Roboto-Regular";
        font-size: 14px;

    }
    &__alternance {
        width: 100%;
    }
    &__heart {
        margin-left: 15px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .text2 {
        font-size: 14px;
        display: flex;
        flex-direction: column;
        .text2 {
            &__name {
                font-family: "Roboto-Medium";
                display: flex;
                justify-content: flex-start;
                margin-left: 12px;
            }
            &__info {
                font-family: "Roboto-Regular";
                width: 100%;
                margin-left: 12px;
                margin-right: 12px;
            }
            &__time {
                font-family: "Roboto-Medium";
                font-size: 11px;
                margin-left: 12px;
                margin-top: 5px;
                color: #939292;
            }
        }
    }
}

//-----Post3-----//

.post3 {
    &__info {
        display: flex;
        align-items: center;
        margin-top: 10px;
        margin-bottom: 8px;

    }
    &__photoprofil {
        width: 30px;
        margin-left: 15px;
    }
    &__name {
        margin-left: 15px;
        font-family: "Roboto-Regular";
        font-size: 14px;

    }
    &__presentation {
        width: 100%;
    }
    &__heart {
        margin-left: 15px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .text3 {
        font-size: 14px;
        display: flex;
        flex-direction: column;
        .text3 {
            &__name {
                font-family: "Roboto-Medium";
                display: flex;
                justify-content: flex-start;
                margin-left: 12px;
            }
            &__info {
                font-family: "Roboto-Regular";
                width: 100%;
                margin-left: 12px;
                margin-right: 12px;
            }
            &__time {
                font-family: "Roboto-Medium";
                font-size: 11px;
                margin-left: 12px;
                margin-top: 5px;
                color: #939292;
                margin-bottom: 30px;
            }
        }
    }
}
}