body {
    background-color: white;
    //-----header-----//
header {
    position: fixed;
    background-color: white;
    display: flex;
    z-index: 100;
    width: 100%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    h1 {
        font-family: "Roboto-Medium";
        font-size: 18px;
        margin-left: 20px;
        margin-top: 17px;
        margin-bottom: 17px;
        display: flex;
        justify-content: flex-end;
    }
    
}
.bloc {
        border: 1px solid #C6C6C6;
    }

//-----Description-----//

.description {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 55px;
    
    &__photo{
        width: 85px;
        margin-top: 16px;
        margin-left: 20px;
    }
    &__projects{
        font-family: "Roboto-Bold";
        font-size: 12px;
        margin-top: 30px;
        margin-left: 10px;
    }
    &__mood1 {
        font-family: "Roboto-Bold";
        font-size: 12px;
        margin-top: 30px;
        margin-left: 32px;
    }
    &__mood2 {
        font-family: "Roboto-Bold";
        font-size: 12px;
        margin-top: 30px;
        margin-left: 32px;
        margin-right: 32px;
    }
}

//-----Resume-----//

.resume {
    margin-left: 20px;
    margin-right: 20px;
    &__profil {
        .profil {
            &__name {
                font-family: "Roboto-Bold";
                font-size: 18px;
                margin-top: 10px;
            }
            &__folio {
                font-family: "Roboto-Regular";
                font-size: 14px;
                color: #939292;
                margin-top: 2px;
            }   
        }
    }
    
&__text {
    margin-top: 10px;
    article {
        font-family: "Roboto-Regular";
        font-size: 14px;
        margin-top: 5px;
    }
    }

}

//-----Bouton-----//

.bouton {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #C6C6C6;
    width: 138px;
    height: 31px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    article {
        font-family: "Roboto-Bold";
        display: flex;
        align-items: center;
    }
}

//-----Main projects-----//

main {
    margin-top: 20px;
    
    .project {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .line1 {
        display: flex;
        justify-content: center;
        justify-content: space-between;
        flex-wrap: nowrap;
        img {
            width: 32.5%;
        }

    }
    .line2 {
        display: flex;
        justify-content: center;
        justify-content: space-between;
        flex-wrap: nowrap;
        margin-top: 2px;
        img {
            width: 32.5%;
        }
    }
}
}